.menu__main {

  background-color: #FAFAFA;

  & .first__menu {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1px;
  }

  & .first__menu--item {
    background-color: rgba(255, 0, 0, .7);

  }

  & ul a {
    color: #1D1D1D;
  }

  & .nav-content {
    display: block;
    height: 64px;
    min-height: 64px;
    width: 100%;
  }

  & .second__menu {
    line-height: 64px;
    display: flex;
  }

  & .second__menu-item {
    width: 50%;
  }

  & .brand-logo {
    max-width: 250px;
    height: 100%;

    & img {
      height: 100%;
      width: 100%;
    }
  }

  & .search__content {
    background-color: orange;
    position: relative;

    & .result {
      position: absolute;
      width: 100%;
      color: #1D1D1D;
      background-color: yellow;
      z-index: 10;
      border: 1px solid #1D1D1D;
      border-radius: 10px;
    }
  }

}